<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naga.yulian.dao.LevelnameExpandMapper" >

  <select id="getCurrentLevel" parameterType="java.lang.String" resultType="com.naga.yulian.entity.Levelname">
   
    SELECT * FROM levelname 
    WHERE
      <![CDATA[start <= #{level}]]>
      <![CDATA[AND #{level} < end]]>
  </select>
</mapper>